<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

	<name>GeoQ</name>
	
	<description>
		Who is the greatest Worldpro.
	</description>
	
	<author href="https://www.ralphsadalski.de" email="kontakt@ralphsadalski.de">
		Ralph Sadalski
	</author>
	
	
	<preference name="fullscreen" value="true" />
	<preference name="orientation" value="portrait" />

	<icon src="icon.png" />
	
	<gap:splash src="splash.png" />

</widget>

