<!-- Positionsvisir für die Suche -->
<canvas id="visir" class="visir" width="500" height="500" style="display:none;"></canvas>

<!-- Flaggen -->
<div id='flag'><icon>2</icon></div>
<div id='userflag' style="display:none"><icon>2</icon></div>

<div id="questionBox"></div>

<div id="gameNav">
    	<button id="BackToGameView">
		<icon>T</icon>
		<div>Back</div>
	</button>
	<button id="showAnswer">
		<icon>u</icon>
		<div>Show Answer</div>
	</button>
        <button id="NextQuestion">
		<icon>H</icon>
		<div>Next</div>
	</button>
</div>

<!-- Container für die Weltkarte -->
<div id="map" class="worldmap"></div>
